@import "pretendard/dist/web/static/pretendard-dynamic-subset.css";
@import "@fontsource/jetbrains-mono";
@import "@fontsource/noto-emoji/emoji-400.css";
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Pretendard", sans-serif;
  --font-mono: "JetBrains Mono", "Pretendard", monospace;
  --font-emoji: "Noto Emoji", sans-serif;
}

* {
  @apply break-words;
  @apply antialiased;
  @apply proportional-nums;
  font-feature-settings: "calt", "ss01", "ss02", "ss03", "ss07", "ss08";
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}
