---
import { AUTHOR_EMAIL, AUTHOR_NAME } from "../consts";

const today = new Date();
---

<footer
	class=":uno: p-6 border-t border-gray-200 text-center flex flex-col gap-4 items-center"
>
	<div class=":uno: flex flex-col gap-0.5 items-center">
		<p class=":uno: font-medium">
			&copy; {today.getFullYear()}
			{AUTHOR_NAME}. All rights reserved.
		</p>
		<p class=":uno: text-sm text-gray-500 font-medium">
			All trademarks referenced herein are the properties of their
			respective owners.
		</p>
	</div>
	<a class=":uno: text-sm underline" href={`mailto:${AUTHOR_EMAIL}`}>
		{AUTHOR_EMAIL}
	</a>
</footer>
